/* main body container */

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    color: var(--primary);
}

.container > div {
    width: 100%;
    padding: 0 10vw;
}

.container > h1 {
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}


/* banner */

.container > .banner {
    width: 100%;
    background: var(--banner);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0;
}

.banner > p {
    padding: 1rem;
}

.banner > button {
    background: var(--secondary);
    color: var(--primary);
    outline: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .25);
    cursor: pointer;
    margin: auto .75rem;
    display: grid;
    place-items: center;
    transition: 100ms;
}

.banner > button:hover {
    box-shadow: 2px 2px 14px rgba(0, 0, 0, .25);
}



/* filter selection options */

.options {
    box-shadow: 0 4px 7px rgba(0, 0, 0, .25);
    width: 100%;
    display: flex;
    padding: 2rem 4vw;
    user-select: none;
}

.options > div {
    margin: 0 2rem;
}

.options h3 {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: .1rem;
}

.options label {
    cursor: pointer;
    display: block;
}

.options input[type="radio"],
.options input[type="checkbox"] {
    appearance: none;
    width: .65rem;
    height: .65rem;
    border-radius: 3px;
    background-color: var(--unchecked);
    cursor: pointer;
    transform: rotate(45deg);
    margin-right: .5rem;
}

.options input[type="radio"]:checked,
.options input[type="checkbox"]:checked {
    background-color: var(--checked);
}


/* filter & search bar */

.filter {
    width: 100%;
    height: 2rem;
    display: flex;
    margin: 2rem 0;
}

.filter svg {
    height: 100%;
    cursor: pointer;
}

.filter input {
    flex: 2;
    margin-right: 2rem;
    background: var(--alternate);
    color: var(--primary);
    border: none;
    outline: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .25);
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1rem;
    transition: 100ms;
}

.filter input::selection {
    background: var(--highlight);
}

.filter input:focus {
    filter: brightness(.985);
}

.filter button {
    background: var(--secondary);
    color: var(--icon);
    outline: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: 0 1rem;
    font-size: 1rem;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .25);
    cursor: pointer;
}


/* selected list */

.selectedList {
    width: 100%;
    margin-top: 2rem;
}

.selectedList h4 {
    font-size: 1.5rem;
    font-weight: normal;
}

.selectedList li {
    margin-left: 2rem;
    font-size: 1.15rem;
}


/* recipes */

.recipes {
    width: 100%;
    gap: 4rem;
    row-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 8rem;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .25);
    position: relative;
    cursor: pointer;
    transition: 100ms;
}

.recipe:hover {
    box-shadow: 0 11px 24px rgba(0, 0, 0, .25);
}

.recipe h4 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.recipe .details {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1rem;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.recipe .imgContainer {
    position: relative;
    width: 100%;
    grid-column: 3 / 6;
}

.recipe .imgContainer::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.recipe img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: .25rem solid black;
    user-select: none;
}

.recipe svg {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0;
}

.recipe .diet {
    display: flex;
    align-items: flex-end;
    grid-column: 1 / 3;
}

.recipe .allergens {
    display: flex;
    height: 1.3rem;
    grid-column: 1 / 4;
    grid-row: 2;
}

.recipe .heat {
    display: flex;
    justify-content: flex-end;
    grid-column: 5 / 8;
}

.recipe .tags {
    display: flex;
    justify-content: center;
}

.recipe .tags span {
    color: var(--footer);
    background: var(--tag);
    padding: .1rem .75rem;
    font-weight: 500;
    margin: 0 .5rem;
}

.recipe p {
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    margin: 1rem 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.recipe .check {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.recipe.selected {
    background: var(--selected);
}


/* media queries */

@media (max-width: 1000px) {

    .container > div {
        padding: 0 5vw;
    }

    .recipes {
        gap: 2rem;
    }

}

@media (max-width: 800px) {

    .banner p,
    .banner button {
        font-size: .9rem;
    }

    .options {
        padding: 1.25rem .5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1.5rem;
    }

    .filter {
        margin: 1.5rem 0;
    }

    .selectedList h4 {
        font-size: 1.2rem;
    }

    .selectedList li {
        font-size: 1rem;
    }

    .recipes {
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 600px) {

    .banner p,
    .banner button {
        font-size: .85rem;
    }

    .banner p {
        padding-right: 0;
    }

    .options {
        grid-template-columns: 1fr 1fr;
        padding: 1rem 0;
    }

    .recipes {
        grid-template-columns: 1fr;
        row-gap: 4rem;
    }

}

@media (max-width: 400px) {

    .container h1 {
        font-size: 2.25rem;
    }

    .options {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .options h3 {
        font-size: 1.15rem;
    }

    .options label {
        font-size: 1rem;
    }

    .filter {
        height: 1.5rem;
        margin: 1rem 0;
    }

    .filter input {
        width: 0;
        margin-right: .75rem;
    }

}

