/* body spacing */

.container {
    display: grid;
    padding: 4rem 8vw;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

.sidebar {
    background: var(--alternate);
    box-shadow: 2px 4px 7px rgba(0, 0, 0, .25);
    height: fit-content;
    user-select: none;
}


/* filter options */

.sidebar > div {
    margin: 1.5rem;
}

.sidebar > div > h3 {
    font-size: 1.15rem;
}

.sidebar > div > label {
    cursor: pointer;
    display: block;
}

.sidebar > div input[type="radio"],
.sidebar > div input[type="checkbox"] {
    appearance: none;
    width: .65rem;
    height: .65rem;
    border-radius: 3px;
    background-color: var(--unchecked);
    cursor: pointer;
    transform: rotate(45deg);
    margin-right: .5rem;
}

.sidebar > div input[type="radio"]:checked,
.sidebar > div input[type="checkbox"]:checked {
    background-color: var(--footer);
}


/* search bar */

.search {
    height: 2.5rem;
    display: flex;
}

.search > input[type="text"] {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-right: 1rem;
    border: none;
    background: #f6f6f6;
    outline: none;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, .25);
    padding: 0 1rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.search > input[type="text"]:focus {
    filter: brightness(.985);
}

.search > input[type="text"]::selection {
    background: lightblue;
}

.search > button {
    height: 100%;
    margin-left: auto;
    padding: .5rem;
    border: none;
    background: var(--background);
    box-shadow: 0 4px 7px rgba(0, 0, 0, .25);
    border-radius: 5px;
}

.search > button > svg {
    height: 100%;
    width: auto;
}


/* recipes */

.recipes {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

.recipe {
    display: grid;
    grid-template-columns: 2fr 7fr;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .25);
    transition: 100ms;
    gap: 1rem;
}

.recipe:hover {
    box-shadow: 0 11px 24px rgba(0, 0, 0, .25);
}

.recipe .imgContainer {
    position: relative;
    width: 100%;
    margin: auto;
}

.recipe .imgContainer::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.recipe img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 1rem;
    user-select: none;
}

.recipe > div.details {
    margin-top: 1rem;
}

.recipe h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
}

.recipe h3 svg {
    width: 1.5rem;
    height: auto;
    margin: auto 0 .25rem .75rem;
}

.recipe .tags {
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
}

.recipe .tag {
    display: inline;
    background: var(--tag);
    font-size: .85rem;
    padding: .15rem .35rem;
    margin: .25rem;
}

.recipe p {
    font-size: 1rem;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: 1rem;
}

.recipe a {
    background: var(--secondary);
    border: none;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    padding: .25rem .75rem;
    margin: 1.5rem 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.details > div {
    display: flex;
    justify-content: space-between;
}

.details > div svg {
    width: 1.5rem;
    height: auto;
}

.icons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: auto 1rem 1rem 0;
}

.icons > div {
    display: flex;
    justify-content: flex-end;
}


/* media queries */

@media (max-width: 1000px) {

    .container {
        gap: 1.5rem;
        padding: 2rem;
    }
    
    .recipes {
        margin-top: 1.5rem;
    }

    .recipe h3 {
        font-size: 1.85rem;
    }

    .recipe p {
        width: 90%;
        font-size: .9rem;
    }

    .recipe a {
        font-size: .85rem;
    }

}

@media (max-width: 700px) {

    .container {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: flex;
    }

    .sidebar > div > h3 {
        font-size: 1.15rem;
    }

    .sidebar label {
        font-size: 1rem;
    }

    .recipes {
        margin-top: 1rem;
    }

    .recipe {
        grid-template-columns: 1fr;
    }

    .recipe .imgContainer {
        width: 50%;
    }

    .recipe img {
        padding: 2rem;
    }

    .details {
        margin-left: 1.5rem;
    }

    .recipe .tags {
        gap: 1rem;
    }

    .recipe .tags span {
        font-size: .85rem;
        margin: .25rem 0;
    }

    .recipe h3 {
        font-size: 2rem;
    }

    .recipe p {
        width: 90%;
        font-size: 1rem;
    }

    .recipe a {
        font-size: .9rem;
    }

}

@media (max-width: 600px) {

    .sidebar {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sidebar > div {
        margin: 1rem;
    }

    .search {
        height: 1.8rem;
    }

    .recipe {
        gap: 0;
    }

}

@media (max-width: 400px) {

    .sidebar {
        grid-template-columns: 1fr;
    }

    .recipe {
        padding-top: 2rem;
    }

    .recipe img {
        padding: 0;
    }

    .details h3 svg,
    .details .icons svg {
        width: 1.25rem;
    }

}

